AddDefaultCharset utf-8
Options All -ExecCGI -Indexes -Includes +FollowSymLinks

RewriteEngine On  
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !index
RewriteRule (.*) index.html [L] 
